.title{
  width: 400px;
  padding: 12px 30px;
  margin: 8px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 2px solid rgb(80, 73, 119);
  align-items: center;
}


#headi{
    padding: 10px;
    font-size: xx-large;
    text-align: center;
	font-size: xx-large;
	font-weight: 600;
	font-family: 'Times New Roman',
	Times,
	serif;
	color: rgb(80, 73, 119);
}

#subBut{
	width: 50%;
	height: 40px;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
	background-color: rgb(80, 73, 119);
	border: 2px solid black;
	color:white;
}
#subBut:hover{
	color: white;
	background: rgb(116, 107, 170);
	border: 2px solid rgb(80, 73, 119);
}
#subBut:disabled {
	cursor:not-allowed;
}

#two{
	display: flex;
    flex-direction:column;
	align-items: center;
}
#three {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.creatediv{
	padding-left: 200px;
}

#formc{
	border: 3px solid rgb(80, 73, 119);
	background-color: rgb(214, 214, 214);
	padding-left:  250px;
	padding-top: 120px;
	padding-right: 250px;
	padding-bottom: 160px;
}